numpy~=1.26.4
pandas==2.2.3
pyopensky==2.9
Requests==2.32.3
traffic==2.10.2
gudhi==3.9.0
jupyter==1.0.0
scikit-learn==1.5.2
matplotlib==3.9.2



scipy~=1.14.0
tqdm~=4.66.5
miniball~=1.2.0
shapely~=2.0.5
cdsapi~=0.7.3
torch~=2.4.1
ipywidgets~=8.1.3